*{
    --white: #e9e5d9;
    --tan: #c9bfb5;
    --darkertan: #d1b496;
    --pinkish: #c18c84;
    --burntorange: #c47044;
    --brown: #a25636;
    --blue: #3b4658;
}


html, body{
    margin: 0;
    padding: 0;
    height: 1000vh;
    width: 100vw;
    overflow-x: hidden;
    /* overflow: hidden; */
}




nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    width: 100vw;
    background-color: white;
    /* padding: 1.5rem; */
    box-shadow: 5px 10px 8px  lightgrey;
    position: fixed;
    z-index: 3;

}

nav a{
    text-decoration: none;
    color: #0f2429;
    font-weight: 100;
    font-size: 1.5rem;
    font-family: 'Montserrat';
    
}

nav ul{
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

ul{
    height: 100%;
    display: flex;
    gap: 2rem;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.list{
    height: 100%;
    padding: 1.5rem;
}

 a:hover{
    text-decoration:underline;
    text-decoration-color: #F3D7CA;
    opacity: 0.6;
}

a:active{
    color: var(--pinkish);
}

/* .logo{
    height: 100%;
    z-index: 4;
} */

/* .logo{
    display: inline-block;
    height: 5rem;
} */
.logo{
    display: inline-block;
    padding: 1.5rem;
}
.text{
    position: relative;
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 10px;
    font-family: 'Alex Brush';
    color: var(--pinkish);
}



.text::before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    border-left: 2px solid;
    animation:
        animate 6s steps(22) 0.3s forwards;
        
}





@keyframes animate{
    40%, 60%{
        left: 100%
    }
    60%{
        width: 15%;
    }
    70%{
        width: 7%;
    }
    80%{
        width: 5%;
    }
   
    100%{
        left: 0%;
        width: 0%;
        position: relative
    }
    
   
} 

@media only screen and (max-width: 1135px) {
    nav{
        flex-direction: column;
    }
  }

.svgContainer{
    display: flex;
    flex-wrap: wrap;
    background-image: url(images/writing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

.diagonal{
   height: 0;
   width: 0;
   border-right: 100vw solid transparent;
   
   border-bottom: 13.9vw solid #fff;
   margin-top: -13.7vw;
    
}


/* #text{
    position: relative;
    height: 4rem;
    width: 10rem;
    stroke-dasharray: 725;
    animation: 3s fillSvg linear 3s;
}

@keyframes fillSvg{
    0%{
        stroke-dashoffset: 725;
    }
    100%{
        stroke-dashoffset: 0;
    }
} */

.form{
    /* position: absolute;
    top: 15rem; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: space-between;
    /* height: 10rem;
    width: 20rem; */
    padding: 5rem;
    border-color: transparent;
    border-radius: 4px;
    border-style: solid;
    box-sizing: border-box;
    background-color: rgba(4, 4, 4, 0.129)!important;
}

.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.textcontainer p{
    color: white;
    font-size: 2.55rem;
    font-family: cursive;
}

.inputs{
    background-color: #fff!important;
    color: #333!important;
    border-color: #ccc;
    border-radius: 4px!important;
    border-style: solid!important;
    border-width: 1px!important;
    font-family: 'Open Sans',Arial,Helvetica,sans-serif;
    font-size: 14px!important;
    height: auto;
    line-height: 21px!important;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 10px 10px!important;
    width: 100%!important;
    box-sizing: border-box!important;
    max-width: 100%!important;

}

#subscribe{
    background-color: transparent;
    color: white!important;
    border: 5px solid var(--white) !important;
    border-radius: 4px!important;
    border-style: solid!important;
    border-width: 1px!important;
    font-family: 'Open Sans',Arial,Helvetica,sans-serif;
    font-size: 1.2rem!important;
    height: auto;
    line-height: 21px!important;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 10px 10px!important;
    width: 100%!important;
    box-sizing: border-box!important;
    max-width: 100%!important;
}

#subscribe:hover{
    opacity: 0.92;
    cursor: pointer;
    background-color: var(--tan);
}

.forminput input{
    margin: 0 0 20px;
}

.secondContainer{
    background-color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 80vh;
    padding: 0;
    margin: 0;
    z-index: -1;
}
h2{
   font-size: 5rem;
   font-weight: 300; 
    font-family: 'Roboto';
    color: var(--pinkish);
}

.blackbox{
    padding: 0;
    margin: 0;
   display: flex;
   flex-direction: column;
   
   /* justify-content: center; */
   align-items: center; 
   
    height: 100%;
    width: 100%;
    
   
    /* background-color: var(--blue)!important; */
}

.aboutcontainer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10rem;
    justify-content: center;
}

.aboutholder{
    display: flex;
    width: 20vw;
    padding: 1.2rem;
    border: 1px solid var(--blue);
    border-top-left-radius: 13rem;
    border-top-right-radius: 13rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutholder img{
    width: 100%;
    height: 100%;
    transition: transform 0.2s;
}

.aboutholder img:hover{
    transform: scale(1.1);
}


/* .abouttext{
    word-wrap: break-word;
    height: 50%;
    background-color: red;
    width: 100%;
    font-size: 1.5rem;
    font-style: 'Montserrat';
    font-weight: 300;
} */




section{
    width: 100%;
    height: 80vh;
   background-image: url(images/calligraphy.jpg);
   background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

img{
    /* width: 200px;
    height: 300px; */
    border-top-left-radius: 13rem;
    border-top-right-radius: 13rem;
    
}

.anotherSection{
    width: 100%;
    height: 80vh;
    background-color: var(--brown);
}

.imageSection{
    width: 100%;
    height: 80vh;
    background-image: url(images/writingphoto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}